.DS_Store
oa-web/node_modules/
oa-web/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
oa-web/package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
